<!-- Main page shown as a home page -->
{% extends "base.html" %}
{% block content %}
    <article>
        <h1 class="text_orange">Vítejte na stránkách společnosti D_C_B_A s.r.o.</h1>
        <h3 class="text_blue">Zabýváme se vývojem software a konzultační činností. Zaměřujeme se na oblast businessu,
         controllingu, financí a účetnictví. Pomáháme firmám automatizovat a optimalizovat procesy. Prodáváme vlastní
         softwarové produkty, které redukují rutinní činnosti.</h3>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <h2 class="text_orange">Kontakt</h2>
        <h3 class="text_blue">D_C_B_A s.r.o.</h3>
        <h3 class="text_blue">IČ 17950678</h3>
        <h3 class="text_blue">U dálnice 356, 251 66 Senohraby</h3>
        <h3 class="text_blue">Ing. Ondřej Smutný</h3>
        <h3 class="text_blue">osmutny.dcba@outlook.com</h3>
        <h3 class="text_blue">+420 777 902 556</h3>
        <h3 class="text_blue">Číslo bankovního účtu: 783712003/5500</h3>
        <h3 class="text_blue">Spisová značka: C 378952 vedená u Městského soudu v Praze</h3>
    </article>
{% endblock %}
