{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}

<!--Reset Password-->
<div class="container">
    <p class="text_orange">Zapomenuté heslo / Změna hesla</p>
    <p class="text_blue">Zapomněli jste heslo nebo jej potřebujete změnit? Zadejte svou emailovou adresu níže a my Vám
        pošleme emailem instrukce pro nastavení nového hesla.</p>
    <form method="POST" class="form_override">
        {% csrf_token %}
        {{ password_reset_form|crispy }}
        <button type="submit">Poslat email</button>
    </form>
</div>

{% endblock %}