{% extends 'base.html' %}

{% block content %}

<!--Password reset sent-->
<div class="container">
    <p class="text_orange">Instrukce pro nastavení hesla odeslány</p>
    <p class="text_blue">Poslali jsme Vám emailem instrukce pro nastavení hesla, jestliže existuje uživatelský účet s
        emailem, který jste zadali. Brzy by jste je měli obdržet.<br>Pokud jste email neobdrželi, prosím ujistěte se, že
        jste zadali email, kterým jste se registrovali, a zkontrolujte složku s nevyžádanou poštou.</p>
</div>

{% endblock %}