{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<!--Password Reset Confirm-->
<div class="container">
    <form method="POST" class="form_override">
        {% csrf_token %}
        {% if form %}
            <p class="text_orange">Nastavení hesla</p>
            <p class="text_blue">Prosím napište Vaše nové heslo.</p>
            {{ form|crispy }}
            <button type="submit">Nastavit heslo</button>
        {% else %}
            <p class="text_orange">Platnost stránky vypršela. Prosím zažádejte znovu o email s odkazem.</p>
        {% endif %}
    </form>
</div>

{% endblock %}