<!-- Services -->
{% extends "base.html" %}
{% block content %}
    <article>
        <h1 class="text_orange">Poskytované služby</h1>
        <h2 class="text_blue">Vývoj software</h2>
        <h2 class="text_blue">Konzultační činnost</h2>
        <h2 class="text_blue">Školení zaměstnanců</h2>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <h1 class="text_orange">Oblasti zájmu</h1>
        <h2 class="text_blue">Business, controlling, finance a účetnictví</h2>
        <h2 class="text_blue">Automatizace a optimalizace firemních procesů</h2>
        <h2 class="text_blue">Řízení projektů</h2>
        <h2 class="text_blue">Logistika, skladové hospodářství a provozovny</h2>
    </article>
{% endblock %}
